#owned-yarns {
    display: flex;
    flex-wrap: wrap;
}

.color-square {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;
}

.color-square button {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
}


#combinations {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.combination-row {
    display: flex;
    flex-wrap: no-wrap;
    margin-top: 20px;
}


